<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net452" />
  <package id="SharePoint" version="15.0.0" targetFramework="net452" />
  <package id="SharePoint.dll.2016.SSOM" version="16.0.4327.1000" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net452" developmentDependency="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>