<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net452" />
  <package id="CodeCamlFork" version="0.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="SharePoint.dll.2016.SSOM" version="16.0.4327.1000" targetFramework="net452" />
</packages>